/* regles generales */
html
{
    font-size:100%
}
h1
{
    font-family: 'raleway', Arial, serif;
    font-size: 1.2rem;
}
h2
{
    font-family: 'raleway', Arial, serif;
    font-size: 1rem;
}
h3, p, a
{
    font-family: 'raleway', Arial, serif;
    font-size: 0.875rem;
}
/* section header */
header 
{
    display: flex;
    align-items: center;
    margin-top: 1.875rem;
    padding-left: 2%;
    padding-right: 2%;
}
nav
{
    margin-left: auto;
}
nav a
{
    text-decoration: none;
    color: black;
}
nav a:hover
{
    color: #0065FC;
    padding-top: 0.625rem;
    border-top: 3px solid #0065FC;
}
nav ul
{
    display: flex;
    list-style-type: none;
}
nav li
{
    margin-right: 1.875rem;    
}
.inscription a
{	
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
}
@media screen and (max-width: 768px)
{
    header
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 0rem;
        padding-left: 0rem;
    }
    #logo_principal
    {
        order: 1;
        margin-left: 5%;
    }
    nav
    {
        width: 100%;
        order: 3;
    }
    .inscription
    {
        order: 2;
        margin-right: 5%;
    }
    nav a
    {
        display: flex;
        justify-content: center; 
        align-items: center;  
        margin-right: 0rem; 
        padding-bottom: 0.625rem;
        border-bottom: 2px solid #F2F2F2;
    }
    nav a:hover
    {
        border-bottom: 2px solid #0065FC;
        border-top: 0rem;
        padding-top: 0rem;
    }
    nav ul
    {
        padding: 0rem;
    }
    .underline_1, .underline_2
    {
        width: 100%;
    }
    nav li
    {
        margin-right: 0rem;
    }
}

/* section recherche */
.description
{
    margin-top: 1.875rem;
    padding-left: 2%;
}
.box_search_1, .box_search_2
{
    display: flex;   
    align-items: center;
    margin-top: 1.875rem;
    margin-left: 1.25rem;
}
.box_search_2
{
    display: none;
}
.marker
{
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.75rem;
    border-radius: 0.625rem 0rem 0rem 0.625rem;
}
.button_search
{
    font-family: 'raleway', Arial, serif;
    background-color: #0065FC;
    color: white;
    border: 1px #0065FC solid;
    border-radius: 0rem 0.625rem 0.625rem 0rem;
    font-weight: bold;
    padding: 0.75rem;
}
.icon_search
{
    background-color: #0065FC;
    color: white;
    border: 1px #0065FC solid;
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
    font-weight: bold;
    padding: 0.75rem;
}
.search
{
    border: 1px #F2F2F2 solid;
    border-right: none;
    font-weight: bold;
    font-family: 'raleway', Arial, serif;
    padding: 0.75rem;
}
form
{
    display: flex;
    justify-content: flex-start;
}
::placeholder
{
    color: black;
    opacity: 1;
}
@media screen and (max-width: 768px)
{
    h1
    {
        font-size: 1.3rem;
    }  
    .box_search_1
    {
        display: none;
    }
    .box_search_2
    {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-left: 0%;
    }
}
/* section filters */
#filters
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    width: 80%; 
}
.filters
{
    margin-left: 1.25rem;
}
.box
{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.box_filters
{
    display: flex;
    align-items: center;
    border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
    border: 2px solid #F2F2F2;    
}
.option
{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.logo_filters
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.0625rem;
    color: blue;
    font-size: 1.25rem;
    background-color:#DEEBFF;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
}
.box a
{
    text-decoration: none;
    color: black;
}
.box a:hover
{
    color: #0065FC;
}
@media only screen and (min-width : 769px) and (max-width : 1024px)
{
    #filters
    {
        width: 100%;
        flex-wrap: wrap;
    }   
}
@media screen and (max-width: 768px)
{
    #filters
    {
        flex-direction: column;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .filters
    {
        width: 95%;
    }
    .box
    {
        justify-content: space-between;
        flex-wrap: wrap;
        width: 95%;
    }
    .box_filters
    {
        margin-bottom: 5%;  
    }
    .logo_filters
    {
        width: 1rem;
        height: 1rem;
    }
    .option
    {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}
/* section info */
.informations
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.infos
{
    margin-left: 1.2rem; 
}
#logo_info
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.25rem;
    padding: 0.8rem;
    color: blue;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
    border: 2px solid #F2F2F2;
}
@media screen and (max-width: 768px)
{
    .informations
    {
        align-items: baseline;
    }
    #logo_info
    {
        padding: 0.5rem;
        margin-left: 3%;
    }
    .informations i
    {
        font-size: 0.6rem;
    }  
}
/* section accomodation */
#accomodations
{
  display: flex;
  justify-content: space-around;
}
.accomodations
{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}
.part_accomodations
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box_accomodations
{
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  background-color: white;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  border: 4px solid white;
}
.accomodations img
{
    object-fit: cover;
    width: 15rem;
    height: 6.875rem;
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
}
.title_accomodations
{
    width: 95%;
}
.legend_accomodations
{
  margin-left: 3%;
  margin-bottom: 2%;
}
.popular
{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}
.part_popular
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_popular
{
    width: 90%;
    display: flex;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-top: 4px solid white;
    border-left: 4px solid white;
}
.popular img
{    
    object-fit: cover;
    width: 8.125rem;
    height: 8.125rem;
    border-radius: 0.9375rem 0rem 0rem 0.9375rem;
}
.title_popular
{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.legend_popular
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2%;
  margin-bottom: 2%;
}
.stars_1 i, .stars_2 i, .stars_3 i, .stars_4, .stars_5, .stars_6, .stars_7, .stars_8, .stars_9
{
    color: blue;
}
.stars_1 i:nth-child(5), .stars_3 i:nth-child(5), .stars_4 i:nth-child(4), .stars_4 i:nth-child(5), .stars_5 i:nth-child(5), .stars_8 i:nth-child(5), .stars_9 i:nth-child(5)
{
	color: #F2F2F2;
}
.accomodations a, .popular a
{
    text-decoration: none;
    color: black;
}
@media only screen and (min-width : 769px) and (max-width : 1024px)
{
    .box_popular
    {
        flex-direction: column;
        background-color: white;
        border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
        border: 4px solid white;
    }
    .popular img
    {    
        object-fit: cover;
        width: 100%;
        height: 6.875rem;    
        border-radius: 1.25rem 1.25rem 0rem 0rem;
    }
}
@media screen and (max-width: 768px)
{ 
    #accomodations
    {
        flex-direction: column-reverse;
    }
    .accomodations
    {
        width: 100%;
        background-color: white;
        align-items: center;
    }
    .part_accomodations
    {
        flex-direction: column;
        align-items: center;
    }
    .box_accomodations
    {
        align-items: center;
        margin-bottom: 5%;
        box-shadow: 3px 3px 5px #F2F2F2;
        border: 2px solid #F2F2F2;
    }
    .accomodations img
    {
        object-fit: cover;
        width: 18.125rem;
        height: 6.25rem;
    }
    .title_accomodations
    {
        width: 18.75rem;
    }
    .legend_accomodations
    {
        width: 90%;
    }
    .popular
    {
        width: 100%;
        align-items: center;
        margin-bottom: 5%;
        border-radius: 0rem;
    }
    .box_popular
    {
        width: 18.125rem;
        margin-bottom: 5%;
        border-top: 4px solid white;
        border-left: 4px solid white;
    }
    .popular img
    {
        object-fit: cover;
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 0.9375rem 0rem 0rem 0.9375rem;
    }
    .title_popular
    {
        width: 18.75rem;
    }
    .legend_accomodations i, .legend_popular i
    {
        font-size: 0.8rem;
    }  
}
/* section activities */
.activities1 img, .activities4 img
{
    object-fit: cover;
    width: 15.625rem;
    height: 25rem;
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
}
.activities2 img, .activities5 img
{
    object-fit: cover;
    width: 15.625rem;
    height: 11.25rem; 
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
}
.activities3 img, .activities6 img
{
    object-fit: cover;
    width: 15.625rem;
    height: 6.875rem;
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
}
#activities
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
}
.activities
{
    display: flex;
    justify-content: space-around;
}
.part1, .part2
{
    width: 50%;
    display: flex;
    justify-content: space-around;    
}
.box_activities_2, .box_activities_4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activities1, .activities2, .activities3, .activities4, .activities5, .activities6
{
    box-shadow: 3px 3px 5px #F2F2F2;
    border: 2px solid #F2F2F2;    
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
}
.activities a
{
    text-decoration: none;
    color: black;
}
.legend_activities
{
    position: relative;
    left: 0.625rem;
}
.title_activities
{
    margin-left: 3%;
}
@media only screen and (min-width : 769px) and (max-width : 1024px)
{
    .activities1 img, .activities4 img
    {
        width: 15rem;
        height: 6.875rem;
    }
    .activities2 img, .activities5 img
    {
        width: 15rem;
        height: 6.875rem;
    }
    .activities3 img, .activities6 img
    {
        width: 15rem;
        height: 6.875rem;
    }
    #activities
    {
        margin-left: 1%;
        margin-right: 1%;        
        background-color: #f2f2f2;
        border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    }
    .box_activities_2, .box_activities_4
    {
        width: 100%;
        flex-direction: row;
    }
    .part1, .part2
    {
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 3%;
    }
    .activities2, .activities5
    {
        margin: auto ;
    }
    .activities
    {
        flex-wrap: wrap;
    }
    .activities1, .activities2, .activities3, .activities4, .activities5, .activities6
    {
        background-color: white;
        border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
        border: 4px solid white;
    }
}
@media screen and (max-width: 768px)
{
    .activities1 img, .activities2 img, .activities3 img, .activities4 img, .activities5 img, .activities6 img
    {
        width: 18.75rem;
        height: 6.25rem;
    }
    #activities
    {
        align-items: center;
        background-color: white;
    }
    .activities
    {
        flex-direction: column;
        align-content: center;
    }
    .part1, .part2
    {
        width: 100%;
        flex-direction: column;
    }
    .activities1, .activities2, .activities3, .activities4, .activities5, .activities6
    {
        margin-bottom: 5%;
    }
    .title_activities
    {
        width: 18.75rem;
        margin-left: 0%;
    } 
}
/* footer */
footer
{
    display: flex;
    background-color: #F2F2F2 ;
    margin-top: 3.125rem;
}
.filters_footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.filters_footer a
{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 768px)
{
    footer
    {
        flex-direction: column;
        align-items: center;
    }
    .filters_footer
    {
        width: 18.75rem;
    }
}


